@font-face {
    font-family: 'Poppins';
    src: url("./Assets/Fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("./Assets/Fonts/Poppins/Poppins-Regular.ttf");
}

body,
* {
    font-family: 'Poppins-Regular';
}

.min100vh {
    min-height: 100vh;
    /* Optional: Set a background color */
}

.section_1 {
    background: rgb(0, 0, 0);
    background: linear-gradient(163deg, #000 55%, #1bfce7);
}

.z-index-2 {
    z-index: 2;
}

.center-content {
    margin-top: auto;
    margin-bottom: auto;
}

.fs_12 {
    font-size: 12px;
}

.fs_24 {
    font-size: 24px
}

.fs_32 {
    font-size: 32px;
}

.fs_40 {
    font-size: 40px;
}

.fw_500 {
    font-weight: 500;
}

.fw_700 {
    font-weight: 700;
}

.Email-feild {
    max-width: 75ch;
}

.input-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    flex: 1;
}

button.grad {
    background-image: linear-gradient(to right, #008cf3, #07c507);
}


.section_2 {
    text-align: center;
    padding: 20px;
    /* Adjust as needed */
}

.text-grad {
    background: #008CF3;
    background: linear-gradient(to right, #008CF3 50%, #07C507 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle-column {
    width: 50px;
    /* Adjust the width as needed */
}

.card.active {
    background-image: linear-gradient(to right, #008cf3, #07c507) !important;
    border: none !important;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #007bff;
    border: 1px solid #007bff;
    /* Set the background color of the circle */
    font-size: 1.2rem;
}

.card.active .circle {
    color: #007bff;
    background-color: #fff;
}

.card.active .card-title,
.card.active .card-text {
    color: white !important;
}

.text-column {
    flex: 1;
}

/* Optional: Add some styling to the card for better visual appeal */
.card {
    max-width: 400px;
    margin: 0 auto;
}

/* Floating Label Styling */

.elabel {
    font-weight: normal;
    pointer-events: none;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
}

.as-eplaceholder {
    color: gray;
    font-family: 'Poppins';
}

.as-elabel {
    top: -2px;
    font-size: 12px !important;
    padding: 0 4px;
    margin-left: -4px;
}

.cursor-pointer {
    cursor: pointer;
}

.otp {
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.1);
}

.otp input {
    border: 0;
    font-weight: 700;
    background-color: transparent;
}

input:focus {
    outline: none !important;
}

.section_1 p {
    text-align: left;
    
  }
  .section_2 p {
    color: white;
    text-align: left;
    padding: 20px;
    border: 10px;
  }
  